# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json       
.pnpm-store/

# Environment
.env
.env.local
.env.*.local

# Output / build folders
dist/
build/
public/build/
out/
release/
*.zip
*.tar.gz

# Caches (bundlers / tools)
.cache/
.vite/
.parcel-cache/
.esbuild/
.cache-loader/
.cache/
coverage/

# IDEs / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
logs/
*.log

# Tests / coverage
coverage/
nyc_output/

# TypeScript
*.tsbuildinfo

# Editor swap / temp files
*~
*.swp
*.swo
*.bak

# Images/Assets exp
